
<CascadingAuthenticationState>
            <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="_PageRouteData.AdditionalPages">
                <Found Context="routeData">
                     <Modules.Core.Blazor.Layouts.Components.MyErrorBoundary @ref="errorBoundary">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Modules.Core.Blazor.Layouts.EmptyLayout)">
                        <Authorizing>
                            <h2 style="text-align:center;padding-top:16px;"><Spin /></h2>
                        </Authorizing>
                        <NotAuthorized>
                            @if (context.User.Identity == null)
                            {
                                <Modules.Core.Blazor.Pages.Components.RedirectToLogin />
                            }
                            else
                            {
                                <Result Status="ResultStatus.Http403" Title="无权访问" SubTitle="未经授权的访问" />
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    </Modules.Core.Blazor.Layouts.Components.MyErrorBoundary>
                    @*导航到新页面时，FocusOnNavigate 组件将焦点设置到页面的顶层元素*@
                    <FocusOnNavigate RouteData="@routeData" Selector="input" />
                </Found>
                <NotFound>
                    <Modules.Core.Blazor.Pages.PageResult._404 />
                </NotFound>
            </Router>
            <AntDesign.AntContainer @rendermode="@InteractiveServer" />
</CascadingAuthenticationState>
@code {
    

        //全局捕获错误，后续页面导航事件中将其重置为非错误状态
    private ErrorBoundary? errorBoundary;
    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}