@using Modules.Tasks.Shared.Base_sys_tasks
@using Modules.Tasks.Shared.Constants;
@inherits BasePage
<Form Model="@model"
      LabelColSpan="8"
      OnFinish="SubmitForm"
      WrapperColSpan="16">
    <Row Gutter="24">
        <Divider Orientation="DividerOrientation.Left" Style="font-weight:bold;color:#555555">1.基本设置</Divider>

        <GridCol Span="12">
            <FormItem Label="任务名称">
                <Input @bind-Value="@context.Name" />
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="任务分组">
                <Input @bind-Value="@context.Jobgroup" />
            </FormItem>
        </GridCol>

        <GridCol Span="12">
            <FormItem Label="任务描述">
                <TextArea @bind-Value="@context.Notes" />
            </FormItem>
        </GridCol>

        <GridCol Span="12">
            <FormItem Label="运行日志">
                <EnumSelect TEnum="TaskLog_Level" @bind-Value="@context.Log_level" />
            </FormItem>
        </GridCol>

        <Divider Orientation="DividerOrientation.Left" Style="font-weight:bold;color:#555555">2.执行时间设置</Divider>
        <GridCol Span="12">
            <FormItem Label="是否Cron">
                <Switch @bind-Value="@context.Is_cron" />

            </FormItem>
        </GridCol>

        @if (context.Is_cron)

        {
            <GridCol Span="12">
                <FormItem Label="Cron表达式">
                    <Popover Placement="@Placement.TopLeft" TitleTemplate="@_text" ContentTemplate="@_content">
                        <Input @bind-Value="@context.Cron" TValue="string" />
                    </Popover>
                </FormItem>
            </GridCol>

        }

        else

        {
            <GridCol Span="12">
                <FormItem Label="执行间隔时间(s)">
                    <AntDesign.InputNumber @bind-Value="@context.Interval_second" Min="1" Max="60000" DefaultValue="600"></AntDesign.InputNumber>(秒)
                </FormItem>
            </GridCol>

        }
        <Divider Orientation="DividerOrientation.Left" Style="font-weight:bold;color:#555555">3.执行任务设置</Divider>
        <GridCol Span="12">
            <FormItem Label="任务类型">
                <EnumSelect TEnum="TaskType" @bind-Value="@context.Task_type" OnSelectedItemChanged="TaskTypeChange" />
            </FormItem>
        </GridCol>
        @if (context.Task_type == TaskType.程序集)

        {
            <GridCol Span="12">
                <FormItem Label="任务所在类">
                    <Input @bind-Value="@context.Class_name" />
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="执行传参">
                    <Input @bind-Value="@context.Job_params" />
                </FormItem>
            </GridCol>
        }
        @if (context.Task_type == TaskType.WebApi)
        {
            <GridCol Span="12">
                <FormItem Label="请求类型">
                    <EnumSelect TEnum="RequestMethod" @bind-Value="@context.Request_method" />
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="Url地址(Http协议)">
                    <TextArea @bind-Value="@context.Api_url" />
                </FormItem>
            </GridCol>

            @if (context.Request_method == RequestMethod.Post)

            {
                <GridCol Span="12">
                    <FormItem Label="Post传参">
                        <TextArea @bind-Value="@context.Request_param" MinRows="3" />
                    </FormItem>
                </GridCol>
            }
        }
        @if (context.Task_type == TaskType.存储过程)
        {
            <GridCol Span="12">
                <FormItem Label="任务解决方案">
                    <Modules.Core.Blazor.Components.SolutionSelect @bind-Value="@context.Task_solution_id" OnSelectItemChanged="TaskSolutionSelectChanged"></Modules.Core.Blazor.Components.SolutionSelect>
                </FormItem>
            </GridCol>

            <GridCol Span="12">
                <FormItem Label="存储过程">
                    <Select TItem="string"
                            TItemValue="string"
                            DataSource="@TaskProcList"
                            @bind-Value="@context.Sql_function">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="执行传参">
                    <Input @bind-Value="@context.Job_params" />
                </FormItem>
            </GridCol>
        }
        @if (context.Task_type == TaskType.Sql语句)
        {
            <GridCol Span="12">
                <FormItem Label="任务解决方案">
                    <Modules.Core.Blazor.Components.SolutionSelect @bind-Value="@context.Task_solution_id"></Modules.Core.Blazor.Components.SolutionSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="24">
                <FormItem Label="Sql语句内容">
                    <TextArea @bind-Value="@context.Sql" />
                </FormItem>
            </GridCol>
        }

        <Divider Orientation="DividerOrientation.Left" Style="font-weight:bold;color:#555555">4.处理返回结果</Divider>
        <GridCol Span="12">
            <FormItem Label="处理程序任务类型">
                <EnumSelect TEnum="TaskType" DefaultValue="TaskType.无" @bind-Value="@context.Process_task_type" OnSelectedItemChanged="TaskTypeChange" />
            </FormItem>
        </GridCol>
        @if (context.Process_task_type == TaskType.程序集)

        {
            <GridCol Span="12">
                <FormItem Label="处理程序所在类">
                    <Input @bind-Value="@context.Process_class_name" />
                </FormItem>
            </GridCol>
            @*             <GridCol Span="12">
        <FormItem Label="执行传参">
        <Input @bind-Value="@context.Job_params" />
        </FormItem>
        </GridCol> *@
        }
        @if (context.Process_task_type == TaskType.WebApi)

        {
            <GridCol Span="12">
                <FormItem Label="请求类型">
                    <EnumSelect TEnum="RequestMethod" @bind-Value="@context.Process_request_method" />
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="HttpUrl地址">
                    <TextArea @bind-Value="@context.Process_api_url" />
                </FormItem>
            </GridCol>

            @if (context.Request_method == RequestMethod.Post)

            {
                <GridCol Span="12">
                    <FormItem Label="Post传参">
                        <TextArea @bind-Value="@context.Process_request_param" MinRows="3" />
                    </FormItem>
                </GridCol>
            }
        }
        @if (context.Process_task_type == TaskType.存储过程)
        {
            <GridCol Span="12">
                <FormItem Label="任务解决方案">
                    <Modules.Core.Blazor.Components.SolutionSelect @bind-Value="@context.Process_solution_id" OnSelectItemChanged="ProcessSolutionSelectChanged"></Modules.Core.Blazor.Components.SolutionSelect>
                </FormItem>
            </GridCol>

            <GridCol Span="12">
                <FormItem Label="存储过程">
                    <Select TItem="string"
                            TItemValue="string"
                            DataSource="@ProcessProcList"
                            @bind-Value="@context.Sql_function">
                    </Select>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="执行传参">
                    <Input @bind-Value="@context.Process_job_params" />
                </FormItem>
            </GridCol>
        }
        @if (context.Process_task_type == TaskType.Sql语句)

        {
            <GridCol Span="12">
                <FormItem Label="任务解决方案">
                    <Modules.Core.Blazor.Components.SolutionSelect @bind-Value="@context.Process_solution_id"></Modules.Core.Blazor.Components.SolutionSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="Sql语句内容">
                    <TextArea @bind-Value="@context.Process_sql" />
                </FormItem>
            </GridCol>
        }
        <GridCol Span="12">
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Button Loading="@btnLoading" Disabled="@btnLoading" HtmlType="submit" Type="@ButtonType.Primary">
                    确定
                </Button>
                <Button OnClick="async()=>await ReturnAsync(false)">
                    取消
                </Button>
            </FormItem>
        </GridCol>

    </Row>
</Form>
@code {
    private RenderFragment _text =
    @<span style="color:lightsalmon">Cron表达式</span>
    ;

    private RenderFragment _content =
    @<div slot="content">
        每隔5秒执行一次：*/5 * * * * ?<br />
        每隔1分钟执行一次：0 */1 * * * ?<br />
        每天23点执行一次：0 0 23 * * ?<br />
        每天凌晨1点执行一次：0 0 1 * * ?<br />
        每月1号凌晨1点执行一次：0 0 1 1 * ?<br />
        每月最后一天23点执行一次：0 0 23 L * ?<br />
        每周星期天凌晨1点实行一次：0 0 1 ? * L<br />
        在26分、29分、33分执行一次：0 26,29,33 * * * ?<br />
        每天的0点、13点、18点、21点都执行一次：0 0 0,13,18,21 * * ?<br />
    </div>
    ;
}