@using Modules.Core.Blazor.Components
@using Modules.Core.Blazor.Pages.ObjectData.Components
@using Modules.CodeGenerator.Template.Blazor.Pages.CodeTemplate.Components
@using Modules.CodeGenerator.Template.Shared.CodeTemplate
@inherits BaseObjectPage
<GridRow Align="RowAlign.Middle" Style="height:48px;">
    <GridCol Span="16">
        @if (CurrentMenu.IsEdit)
        {
            <Button OnClick="@AddClick" Icon="@IconType.Outline.Plus" Type="ButtonType.Primary">@L["添加"]</Button>
        }
        <ObjectDataExportExcel ExportDataClick="ExportExcelClick"></ObjectDataExportExcel>
    </GridCol>

    <GridCol Span="8">
        <div class="Table_Right_Tool">
            <Badge Count="FilterCount"><Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Reload" OnClick="@ResetTable">@L["刷新"]</Button></Badge>
            @if (CurrentMenu.IsEdit)
            {
                <Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Delete" OnClick="@BatchDelClick">@L["批量"]</Button>
                <Button Size="@ButtonSize.Small" Type="@ButtonType.Text" Icon="@IconType.Outline.Edit">@L["批量"]</Button>
            }
            <Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Setting" OnClick="@SettingTable">@L["设置"]</Button>
        </div>
    </GridCol>
</GridRow>

@if (!TableDataModel.IsValid())
{
    <div style="text-align: center; padding: 30px 50px;">
        <Spin />
    </div>
}
else
{
    <Table @ref="AntTable" RowClassName="@(x => x.Data.Row_CSS_Class)"
           ScrollY="@TableDataModel.TableOptions.ScrollY" Bordered="true"
           Size=@TableSize.Small
           RowKey="s=>s.Id"
           Resizable AutoHeight
           TItem="CodeTemplateVM"
           DataSource="TableDataModel.TableModel.DataSource"
           @bind-PageIndex="TableDataModel.TableModel.PageIndex"
           @bind-PageSize="TableDataModel.TableModel.PageSize"
           @bind-SelectedRows="TableDataModel.TableModel.SelectedRows"
           Total="TableDataModel.TableModel.TotalCount"
           Loading="TableDataModel.TableModel.Loading"
           OnChange="HandleTableChange" RemoteDataSource>
        <ChildContent>
            <PropertyColumn Property="c=>c.Row_no" Width="50" Title="" />
            <Selection Fixed="@(TableDataModel.TableOptions.SelectionColumnFixed? ColumnFixPlacement.Left: null)" Type="SelectionType.Checkbox" Width="50" />
            @if (CurrentMenu.IsEdit)
            {
                <ActionColumn Fixed="@(TableDataModel.TableOptions.ActionColumnFixed? ColumnFixPlacement.Left: null)" Title="@L["操作"]" Width="70">
                    <Space Size="@("1px")">
                        <SpaceItem>
                            <Button Size="@ButtonSize.Small" OnClick="()=>EditClick(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Edit" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button Size="@ButtonSize.Small" OnClick="()=>DelClickAsync(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Delete" />
                        </SpaceItem>
                    </Space>
                </ActionColumn>

            }
            @* //这里的T 是数据库实体，调整实体顺序，可以调整显示的顺序*@
            @foreach (var column in TableDataModel.ColumnHeaderModels)
            {
                <AntDesign.Column TData="object" Fixed="@((int)column.fixed_col > -1 ? ((ColumnFixPlacement)column.fixed_col) : null)" Hidden="@column.isHidden" HeaderStyle="@("background-color:"+@column.bgcolor)" Width="@column.width.ToString()" Ellipsis="@TableDataModel.TableOptions.Ellipsis" Sortable DataIndex=@($"{column.field}")>
                    <TitleTemplate>
                        <div @onclick:stopPropagation="true">
                            <Input Placeholder="@column.title" AllowClear="true" @bind-Value="@column.search" OnChange="(e)=>OnInputClearChange(e,column.field)" TValue="string" />
                        </div>
                    </TitleTemplate>
                    <CellRender Context="cell">
                        @*  @if (column.field.ToLower() == "title")
                            {
                               <a @onclick="() => ShowDetailClickAsync(context)">@cell.FieldValue</a>
                            }
                            else *@
                        
                        @ShowObjectColumn(column, cell.FieldValue?.ToString(), TableDataModel.EnumDataList, TableDataModel.FileDataSource)
                        
                    </CellRender>
                </AntDesign.Column>

            }
        </ChildContent>
        <PaginationTemplate>
            <Pagination Style="text-align:center;line-height:38px;"
                        Total="context.Total"
                        Size="PaginationSize.Small"
                        ShowTotal=showTotal
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                        OnChange="context.HandlePageChange"
                        PageSizeOptions="TableDataModel.TableOptions.PageSizeOptions" />
        </PaginationTemplate>
    </Table>
}
<Modal Title="@Dialog.Title"
       @bind-Visible="@Dialog.Visible"
       Width="@Dialog.Width"
       Draggable="@Dialog.Draggable"
       Resizable="@Dialog.Resizable"
       DestroyOnClose
       DragInViewport="@Dialog.DragInViewport"
       Footer="null">
    <CodeTemplateAdd model="@EditRow" IsAdd="@IsAdd" OnValueCallback="OnValueCallback"></CodeTemplateAdd>
</Modal>
@*用户自定义列宽度*@
<Modules.Core.Blazor.Components.UserColumnSetting TableOptions="@TableDataModel.TableOptions" ColumnHeaders="@TableDataModel.ColumnHeaderModels" UserColumnDrawerVisible="@userColumnDrawerVisible" OnValueCallback="@OnUserColumnDrawerCallbackAsync"></Modules.Core.Blazor.Components.UserColumnSetting>
@code
{
    Func<PaginationTotalContext, string> showTotal;protected override void OnInitialized(){showTotal = ctx => L["总计"] + $" {ctx.Total} " + L["项"];}
}