@page "/Task/Base_sys_tasks/Base_sys_tasksList"

@using Modules.Core.Blazor.Components
@using Modules.Tasks.Blazor.Pages.Base_sys_tasks.Components
@using Modules.Tasks.Shared.Base_sys_tasks
@inherits BasePage
@attribute [Authorize]

<PageTitle>计划任务管理 @Modules.Core.Shared.AppConfig.GlobalConfig.SiteTitle</PageTitle>

<GridRow Align="RowAlign.Middle" Style="height:48px;">
	<GridCol Span="12">
		@if (TableDataModel.TableOptions.IsEdit)
		{
			<Button OnClick="@AddClick" Icon="@IconType.Outline.Plus" Type="ButtonType.Primary">@L["添加"]</Button>
		}
		<ObjectDataExportExcel ExportDataClick="ExportExcelClick"></ObjectDataExportExcel>
	</GridCol>

	<GridCol Span="12">
		<div class="Table_Right_Tool">
			<Badge Count="FilterCount"><Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Reload" OnClick="@ResetTable">@L["刷新"]</Button></Badge>
			@if (TableDataModel.TableOptions.IsEdit)

			{
				<Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Delete" OnClick="@BatchDelClick">@L["批量"]</Button>
				<Button Size="@ButtonSize.Small" Type="@ButtonType.Text" Icon="@IconType.Outline.Edit">@L["批量"]</Button>
			}
			<Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Setting" OnClick="@SettingTable">@L["设置"]</Button>
		</div>
	</GridCol>
</GridRow>
@if (!TableDataModel.IsValid())
{
	<div style="text-align: center; padding: 30px 50px;">
		<Spin />
	</div>
}
else
{
	<Table RowClassName="@(x => x.Data.Row_CSS_Class)"
		   Resizable
		   ScrollY="@TableScrollY" Bordered="true" Size=@TableSize.Small
		   TItem="Base_sys_tasksVM" DataSource="TableDataModel.TableModel.DataSource"
		   @bind-PageIndex="TableDataModel.TableModel.PageIndex"
		   @bind-PageSize="TableDataModel.TableModel.PageSize"
		   @bind-SelectedRows="TableDataModel.TableModel.SelectedRows"
		   Total="TableDataModel.TableModel.TotalCount"
		   Loading="TableDataModel.TableModel.Loading" OnChange="HandleTableChange" RemoteDataSource>
		<ChildContent>
			<Selection Type="SelectionType.Checkbox" />
			@if (TableDataModel.TableOptions.IsEdit)
			{
				<ActionColumn Title="@L["操作"]" Width="200">
					<Space Size="@("1px")">
						<SpaceItem>
							<Button Size="@ButtonSize.Small" OnClick="()=>EditClick(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Edit" />
						</SpaceItem>
						<SpaceItem>
							<Button Size="@ButtonSize.Small" OnClick="()=>DelClick(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Delete" />
						</SpaceItem>
					</Space>
					<span style="padding-left:10px;">
						@if (context.Is_start)
						{
							<Button Type="ButtonType.Primary" Size="@ButtonSize.Default" Icon="@IconType.Outline.Stop" Danger OnClick="x=>OnStopAsync(context)">停止 </Button>
						}
						else
						{
							<Button Type="ButtonType.Primary" Size="@ButtonSize.Default" Icon="@IconType.Outline.CaretRight" Style="background-color:rgb(103, 194, 58)" OnClick="x=>OnStart(context)">启动 </Button>
						}
					</span>

				</ActionColumn>
			}
			@* //这里的T 是数据库实体，调整实体顺序，可以调整显示的顺序*@
			@foreach (var column in TableDataModel.ColumnHeaderModels)

			{
				<AntDesign.Column TData="object" Hidden="@column.isHidden" OnHeaderCell="@(()=>(new Dictionary<string, object>() {{"style","background-color:" +@column.bgcolor+";" }}))" Width="@column.width.ToString()" Ellipsis="@TableDataModel.TableOptions.Ellipsis" Sortable DataIndex=@($"{column.field}")>
					<TitleTemplate>
						<div @onclick:stopPropagation="true">
							<Input Placeholder="@column.title" AllowClear="true" @bind-Value="@column.search" OnChange="(e)=>OnInputClearChange(e,column.field)" TValue="string" />
						</div>
					</TitleTemplate>
					<CellRender Context="cell">
						@if (column.field.ToLower() == "is_start")
						{
							@if (context.Is_start)
							{
								<Icon Style="color:rgb(103, 194, 58);font-size:22px;" Type="check-circle" Theme="IconThemeType.Outline" />
							}
							else
							{
								<Icon Style="color:orangered;font-size:22px;" Type="stop" Theme="IconThemeType.Outline" />
							}
						}
						else if (column.field.ToLower() == "is_cron")
						{
							if (Convert.ToBoolean(cell.FieldValue))
							{
								<Icon Style="color:rgb(103, 194, 58);font-size:22px;" Type="check-circle" Theme="IconThemeType.Outline" />
							}
						}
						else if (column.field.ToLower() == "last_success_time")
						{
							if (cell.FieldValue != null && !context.Is_cron)
							{
								DateTime success_time = Convert.ToDateTime(cell.FieldValue);
								DateTime lostTime = success_time.AddSeconds(context.Interval_second + 3600);
								if (DateTime.Now > lostTime)
								{
									<span style="color:red;font-weight:bold;">@cell.FieldValue</span>
								}
								else
								{
									@cell.FieldValue
								}
							}
						}
						else
						{
							@cell.FieldValue
						}
					</CellRender>
				</AntDesign.Column>
			}
		</ChildContent>
		<PaginationTemplate>
			<Pagination Style="text-align:center;line-height:38px;"
						Total="context.Total"
						Size="PaginationSize.Small"
						ShowTotal=showTotal
						PageSize="context.PageSize"
						Current="context.PageIndex"
						OnChange="context.HandlePageChange"
						PageSizeOptions="TableDataModel.TableOptions.PageSizeOptions" />
		</PaginationTemplate>
	</Table>
}
<Modal Title="@Dialog.Title"
	   @bind-Visible="@Dialog.Visible"
	   Width="@Dialog.Width"
	   Draggable="@Dialog.Draggable"
	   DragInViewport="@Dialog.DragInViewport"
	   Footer="null">
	@*    <Base_sys_tasksAdd model="@EditRow" IsAdd="@IsAdd" OnValueCallback="OnValueCallback"></Base_sys_tasksAdd>*@
	<Base_sys_tasksAdd model="@EditRow" IsAdd="@IsAdd" OnValueCallback="OnValueCallback"></Base_sys_tasksAdd>
</Modal>
@*用户自定义列宽度*@
<Modules.Core.Blazor.Components.UserColumnSetting TableOptions="TableDataModel.TableOptions" ColumnHeaders="@TableDataModel.ColumnHeaderModels" UserColumnDrawerVisible="@userColumnDrawerVisible" OnValueCallback="@OnUserColumnDrawerCallback"></Modules.Core.Blazor.Components.UserColumnSetting>
@code
{
	Func<PaginationTotalContext, string> showTotal = ctx => $"总计 {ctx.Total} 项";
}