@page "/Template/CodeTemplate/CodeTemplateList/{View_id}"
@using Modules.Core.Blazor.Components
@using Modules.Core.Blazor.Pages.ObjectData.Components
@inherits BasePage
@attribute [Authorize]

<PageTitle>@CurrentMenu.PageTitle @Modules.Core.Shared.AppConfig.GlobalConfig.SiteTitle</PageTitle>
@if (!CurrentMenu.IsShow)
{
    <Result Title="@L["未授权访问。"]" />
}
else
{
    <GridRow Align="RowAlign.Middle" Style="height:48px;">
        <GridCol Span="16">
            @if (ObjViewDataModel.TableOptions.IsEdit || ObjViewDataModel.isEdit)
            {
                <Button OnClick="@AddClick" Icon="@IconType.Outline.Plus" Type="ButtonType.Primary">@L["添加"]</Button>
                <ObjectDataImportExcel ColumnHeaderModels="ObjViewDataModel.ObjectColumnHeaderModels" ImportDataCallback="@ImportDataCallbackAsync"></ObjectDataImportExcel>
            }
            <ObjectDataExportExcel ExportDataClick="ExportExcelClick"></ObjectDataExportExcel>
        </GridCol>

        <GridCol Span="8">
            <div class="Table_Right_Tool">
                <Badge Count="FilterCount"><Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Reload" OnClick="@ResetTableAsync">@L["刷新"]</Button></Badge>
                @if (ObjViewDataModel.TableOptions.IsEdit || ObjViewDataModel.isEdit)
                {
                    <Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Delete" OnClick="@BatchDelClick">@L["批量"]</Button>
                    <Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Edit" OnClick="@BatchEditClick">@L["批量"]</Button>
                }
                <Button Type="@ButtonType.Text" Size="@ButtonSize.Small" Icon="@IconType.Outline.Setting" OnClick="@SettingTable">@L["设置"]</Button>
            </div>
        </GridCol>
    </GridRow>
    @if (!ObjViewDataModel.IsValid())
    {
        <div style="text-align: center; padding: 30px 50px;">
            <Spin />
        </div>
    }
    else
    {
        <Table Resizable
               TItem="Dictionary<string, string>"
               Bordered="true"
               OnChange="HandleTableChange"
               RemoteDataSource
               RowKey="@(x => x[@"Id"])"
               Total="ObjViewDataModel.DictData.TotalCount"
               Loading="ObjViewDataModel.DictData.Loading"
               @bind-PageIndex="ObjViewDataModel.DictData.PageIndex"
               @bind-PageSize="ObjViewDataModel.DictData.PageSize"
               @bind-SelectedRows="ObjViewDataModel.DictData.SelectedRows"
               DataSource="@ObjViewDataModel.DictData.DataSource"
               Size=@TableSize.Small
               RowClassName="@(x => x.Data[@"Row_CSS_Class"])"
               ScrollY="@ObjViewDataModel.TableOptions.ScrollY">
            <ChildContent>
                <AntDesign.Column TData="string" Width="50" Title="" DataIndex=@($"['Row_no']") Ellipsis="@ObjViewDataModel.TableOptions.Ellipsis" />
                <Selection Type="SelectionType.Checkbox" />
                @if (CurrentMenu.IsEdit || ObjViewDataModel.isEdit)
                {
                    <ActionColumn Title="@L["操作"]" Width="70">
                        <Space Size="@("1px")">
                            <SpaceItem>
                                <Button Size="@ButtonSize.Small" OnClick="()=>EditClick(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Edit" />
                            </SpaceItem>
                            <SpaceItem>
                                <Button Size="@ButtonSize.Small" OnClick="()=>DelClick(context)" Type="@ButtonType.Link" Icon="@IconType.Outline.Delete" />
                            </SpaceItem>
                        </Space>
                    </ActionColumn>
                }
                @foreach (var column in ObjViewDataModel.ColumnHeaderModels)
                {
                    <AntDesign.Column TData="string" Hidden="@column.isHidden" OnHeaderCell="@(()=>(new Dictionary<string, object>() {{"style","background-color:" +@column.bgcolor+";" }}))" Width="@column.width.ToString()" Ellipsis="@ObjViewDataModel.TableOptions.Ellipsis" Sortable Title="@column.title" DataIndex=@($"['{column.field}']")>
                        <TitleTemplate>
                            <div @onclick:stopPropagation="true">
                                <Input Placeholder="@column.title" AllowClear="true" @bind-Value="@column.search" OnChange="(e)=>OnInputClearChange(e,column.field)" TValue="string" />
                            </div>
                        </TitleTemplate>
                        <CellRender Context="cell">
                            @if (column.field.ToLower() == "id")
                            {
                                <a onclick="@(()=>ShowDetailDrawerClick(@context))">@cell.FieldValue</a>
                            }
                            else
                            {
                                <ObjectDataColumn Column="@column" EnumDataList="EnumDataList" PicDataSource="ObjViewDataModel.DictData.PicDataSource" ColumnValue="@context[column.field]"></ObjectDataColumn>
                            }
                        </CellRender>
                    </AntDesign.Column>
                }
            </ChildContent>
            <PaginationTemplate>
                <Pagination Style="text-align:center;line-height:38px;"
                            Total="context.Total"
                            Size="PaginationSize.Small"
                            ShowTotal=showTotal
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                            OnChange="context.HandlePageChange"
                            PageSizeOptions="ObjViewDataModel.TableOptions.PageSizeOptions" />
            </PaginationTemplate>
        </Table>
    }
}
<Modal Title="@Dialog.Title"
       @bind-Visible="@Dialog.Visible"
       Width="@Dialog.Width"
       Draggable="@Dialog.Draggable"
       Resizable="@Dialog.Resizable"
       DragInViewport="@Dialog.DragInViewport"
       Footer="null">
    @* <CodeTemplateAdd model="@EditRow" IsAdd="@IsAdd" OnValueCallback="OnValueCallback"></CodeTemplateAdd> *@
</Modal>
@*用户自定义列宽度*@
<Modules.Core.Blazor.Components.UserColumnSetting TableOptions="ObjViewDataModel.TableOptions" ColumnHeaders="ObjViewDataModel.ColumnHeaderModels" UserColumnDrawerVisible="userColumnDrawerVisible" OnValueCallback="OnUserColumnDrawerCallback"></Modules.Core.Blazor.Components.UserColumnSetting>

<Drawer Width="@DrawerDetail.Width"
        Closable="@DrawerDetail.Closable"
        @bind-Visible="@DrawerDetail.Visible"
        Placement="@DrawerDetail.Placement"
        Title='@DrawerDetail.Title'>
    <Tabs Type="@TabType.Card">
        <TabPane Key="1" Tab="@L["详情"]">

        </TabPane>

        <TabPane Key="5" Tab="@L["信息反馈" ]">

        </TabPane>
    </Tabs>
</Drawer>
@code
{
    Func<PaginationTotalContext, string> showTotal = ctx => $"总计 {ctx.Total} 项";
}